@media(max-width:992px){ 
    .item{ 
        height: 150px; 
    }  
 } 
@media(max-width:745px){
    .item{ 
        width:calc(100% - 20px); 
        height: 200px; 
        margin: 10px; 
        background-color:cadetblue; 
        flex-direction:column-reverse; 
        background-size: cover;
    }
    body{ 
        background-image: url(../img/fon1.jpg);
    } 
    h1{
        font-size: 2.2rem;
        color:orangered;
    }
    header{
        background-color:blueviolet;
        max-height: 100%;
    }
    .container{
        max-width: 1180px;
        display: flex;
        justify-content: space-around;
        height: 50px;
    }

}